// Here's where we define some default constants
@import "partials/base";

//look in base for other variables
$inner-content-padding: 20px;

html, body{
	height:100%;
}

body{
	width:100%;
	display:block;
	
	//@include box-bg-textured;
	
	@include open-sans; //font stack
	color:$base-color;

}

#outer{
	display: block;
	//height: 100%;
	width: 100%;
	background: $base-bg;
	
	//@include base-bg-textured;
	@include box-bg-textured;
	
	@include padding-trailer(4);

	position: relative;
	
}

#top, #access, #mainWrap, #content, #subfooter, #footer{
	position: relative;
	z-index: 2;
}


#mainWrap{
	& #header{
		//margin-left: 2.25em;
		//margin-right: 2.75em;
		@include margin-trailer( 3 );
	}
}

#mainLeft, #mainRight{
	@include padding-leader( 3 );
}

#mainLeft{
	@include float-left;
}
#mainRight{
	width: $content-width;
	@include float-right;
}


#bgPhoto{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, h6{
	//@include bowlby;
	color: $base-header-color;
	font-weight: 800;
	
	& a{
		color: $base-header-color;

		&:hover{ 
			color: darken( $base-header-color, 10% ) 
		}
		&:active{
			color: darken( $base-header-color, 15% ) 
		}
		&:visited{
			color: $base-header-color;
			&:hover{ 
				color: darken( $base-header-color, 10% ) 
			}
		}
	}
}

h1{ @include adjust-font-size-to( 18px ); }
h2{ @include adjust-font-size-to( 16px ); }
h3{ @include adjust-font-size-to( 14px ); }
h4{ @include adjust-font-size-to( 12px ); }
//h5{ @include adjust-font-size-to( 10px ); }
//h6{ @include adjust-font-size-to( 8px ); }


a{
	text-decoration:none;
	//@include single-transition( all, $base-transition-time, ease-in-out );
}

b,strong{
	font-weight: 600;
}

p{
	//@include margin-leader(0.5);
	@include margin-trailer(0.5);
	//@include adjust-font-size-to(14px);
}


input, textarea{
	border: 1px solid $base-grey;
	background: $base-grey;

	&:focus{
		background: darken( $base-grey, 20% );
	}

}


input, textarea, button{
	@include open-sans;
	
	&.placeholder{
		color: $base-black;
	}
}

button{
	@include pie;
	@include base-gradient( lighten( $base-red, 10% ), $base-red );
	border: 1px solid lighten( $base-red, 10% );
	//@include border-radius( 3px );
	@include adjust-font-size-to(15px, 1.25);
	//padding-left: 1em;
	//padding-right: 1em;
	@include margin-trailer(0.25);
	
		@include border-radius( 3px );

		font-weight: 300;
		color: $base-white !important;
		@include base-gradient( lighten( $base-red, 10% ), $base-red );
		border: 1px solid lighten( $base-red, 10% );
		
		&:hover{
			background: lighten( $base-red, 5% );
		}
		&:active{
			@include base-gradient( $base-red, lighten( $base-red, 10% ) );
		}

}


/* mailchimp js notifications */
.mcError{
//	@include float-left;
//	width: 55%;
	display: block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	@include margin-leader(0.25);
	
	position: absolute;
	left: 1em;;
	bottom: -2em;
	width: 15em;
	min-height: 3em;
	
	&.error{
		border: 1px solid $base-red;
		background: lighten( $base-red, 30% );
	}
	&.success{
		background: lighten( $base-blue, 30% );
		border: 1px solid $base-blue;	
	}
}


::-webkit-input-placeholder  { color: $base-black; }
input:-moz-placeholder { color: $base-black; }
textarea:-moz-placeholder { color: $base-black; }



/* Parts */

$sidebar-width: 180px;

@import "theme/header";
	//@import "theme/banner_bars";
@import "theme/top_nav";
@import "theme/body";
@import "theme/front_page";
@import "theme/sidebar";
@import "theme/rotator";
@import "theme/sponsors_slider";
@import "theme/footer_nav";
@import "theme/footer";
@import "theme/page_post";
@import "theme/page_contact_us";
@import "theme/contact_form";
	//@import "theme/mailchimp_subscribe";
	//@import "theme/photo_gallery";


/* End Parts */



.wrap{
	width:$base-width;
	margin:0 auto;
}

.line{
	width: 1px;
	height: 100%;
	margin-left: -1px;
}


.clearfix{
	@include pie-clearfix;
}
.alignleft{
	@include float-left;
	margin-right: 1em;
}
.alignright{
	@include float-right;
	margin-left: 1em;
}
.alignnone{}
.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
}


$mobile-menu-height: 4em;
$mobile-menu-color: #E7E9EF;

/* --- less than main size --- */
@media screen and (max-width: 979px) {
}

/* --- iPad Portrait --- */
@media screen and (max-width: 880px) {
}

/* --- Smartphones and small Tablet PCs --- */
@media screen and (max-width : 620px) {

}