//
// CSS for the specific theme body
//


#content{
	//@include pie;
	
	@include margin-trailer(3);
		
	//@include box-shadow( 
	//	darken( $base-bg, 50% ) 0 20px 25px -20px, 
	//	darken( $base-bg, 50% ) -10px 0 35px -30px,
	//	darken( $base-bg, 50% ) 10px 0 35px -30px
	//);
	
	width: $content-width;
}

.box, .wrap.box{
	position: relative;
	
	& .inner{
		//@include box-bg-textured;
		background: $base-white;
		//@include border-radius($boxRad);
		//padding: 5em;

		@include base-shadow();

		@include padding-trailer;
	
		//border-top: 1px solid lighten( $box-bg, 10% );
	
		@include pie;
		//position: relative;
		z-index: 2;
		
	}

	$shadow-width: 920px;
	& .shadow{
		//@include main-sprite;
		//background-position: 0 -678px;
		//height: 37px;
		//width: $shadow-width;
		//position: absolute;
		//z-index: 1;
		//left: floor( ($base-width - $shadow-width) / 2 );
		//bottom: -9px;
		display: none;
	}

	&#content{
		
		
		& .inner{

			.single &{
				@include padding-trailer();
			}

			//border-top: none;
			//behavior: none;
		}
	}
}

.lte7 .box{
	
	& .shadow{
		bottom: 9px;
	}
}