//
// CSS for the contact form 7 inputs
//

.wpcf7{
	
	//clear:both;
	
	
	//width: 75%;
	
	//text-align: right;

	$input-padding: 6px;

	
	& form{
		width: 60%;
		//text-align: left;
		//@include float-right;
		position: relative;
	}
	
	& p{
		display: block;

		position: relative;
		
		& label, & span{
			//@include inline-block;
			//vertical-align: top;
			display: block;
		}
		
		& label{
			//width: 30%;
			//text-align: right;
			//padding-right: 4%;
		}
		& span{
			//display: block;
			position: relative;
			//width: 66%;
			
			& .wpcf7-not-valid-tip{
				position: absolute;
				top: 0;
				left: 0;
				width: 90%;
				padding-left: 5%;
				padding-right: 5%;
				padding-top: $input-padding;
				padding-bottom: $input-padding;
				
				border: 1px solid $base-red;
				background: lighten( $base-red, 30% );
			}
		}
	}
	
	& div.wpcf7-response-output{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 66%;
		margin: 0;
		@include adjust-font-size-to( 10px );
		background: lighten( $base-yellow, 40% );
		border: 2px solid $base-yellow;
	}
	
	& div.wpcf7-mail-sent-ok{
		background: lighten( $base-blue, 30% );
		border: 2px solid $base-blue;	
	}
	
	& input, & textarea{
		display: block;
		width: 95%;
		padding-left: 2.5%;
		padding-right: 2.5%;
		padding-top: $input-padding;
		padding-bottom: $input-padding;
	}
	& input[type="submit"]{
		width: auto;
		@include float-right;
		padding-left: 1.5em;
		padding-right: 1.5em;
		@include padding-leader(0.45);
		@include padding-trailer(0.45);
		@include border-radius( 3px );

		@include pie;
		@include base-gradient( lighten( $base-blue, 10% ), $base-blue );
		border: 1px solid lighten( $base-blue, 10% );
		@include adjust-font-size-to(15px, 1.25);
		
		color: $base-white;
		font-weight: 300;
		
		&:hover{
			background: lighten( $base-blue, 5% );
		}
		&:active{
			@include base-gradient( $base-blue, lighten( $base-blue, 10% ) );
		}
	}
}

/** End Contact Form 7 Markup and Style **/
