//
// CSS for the specific theme footer
//
#footer{
	
	& .foot-left{
		@include float-left;
		padding-left: 2em;
	}
	& .foot-right{
		@include float-right;
		padding-right: 2em;
	}
	& a{
		color: $base-color;
		
		&:hover{
			color: $guru-color;
		}
	}

	@include padding-trailer();

	
}
