//
// CSS for the specific theme footer navigation
//

$foot-nav-width: 930px;
$foot-nav-columns: 7;
$nav-block-padding: 12px;

$nav-block-width: floor( ($foot-nav-width / $foot-nav-columns) - $nav-block-padding );


nav#subfooter{
	position:relative;
	z-index:6;
	@include margin-leader(0);
	//@include margin-trailer(2);
	
	& .inner{
		//@include padding-leader(0.5);
		@include padding-trailer(0.75);
		padding-left: 2em;
		padding-right: 2em;
		@include margin-trailer(0.5);
		overflow:hidden;
	}
	
	$cHeight: 24px;
	& .colors{
		height: $cHeight;

		margin-left: -2em;
		margin-right: -2em;
		width: 107%;
		
		@include base-shadow();
		
		@include pie;
		
		& div{
			height: $cHeight;
			@include float-left;
			display: block;
			width: 33%;

			//@include bg-texture();
						
			//@include opacity(0.7);

			
			@include box-shadow(
				$base-black 0 0px 12px -4px inset
			);
			
			@include pie;
				
			&.red{
				background-color: $base-red;
			}
			&.green{
				background-color: $base-green;
			}
			&.orange{
				background-color: $base-orange;
			}
			&.purple{
				background-color: $base-purple;
			}
			&.teal{
				background-color: $base-teal;
			}
			&.blue{
				background-color: $base-blue;
			}
			&.yellow{
				background-color: $base-yellow;
			}
			
		}
	}
	
	& a{}
	
	& a.homeLink{
		display: block;
		@include margin-trailer(1.5);
		color: $base-header-color;
		&:hover{
			color: darken($base-header-color, 15% );
		}
	}
	
	& .menu-footer-nav-container{
		@include padding-leader(0.75);
	}

	
	& .menu{
		@include inline-block-list;
		//@include inline-block-list-container;
		
		@include adjust-font-size-to( 12px, 0.9 );
				
		& li{
		
			//@include inline-block-list-item;
			vertical-align: top;
			width: $nav-block-width;
			padding-left: $nav-block-padding;
			
			&.food{
				width: 100px;
			}
			&.sponsors{
				width: 130px;
			}
			&.souvenirs{
				width: 80px;
			}
			&.volunteer{
				width: 110px;
			}
			&.artists{
				width: 150px;
			}
			&.kidzone{
				width: $nav-block-width;
			}
			&.about{
				width: 150px;
			}
			
			&.menu-item-first{
				padding-left: 0;
			}
			
			& a{
				color: darken($base-grey, 50% );
				//@include adjust-font-size-to( 16px, 1 );
				//@include single-text-shadow( lighten( $box-bg, 10% ), 1px, 1px, 1px );
				
				&:hover{
					//color: lighten( $base-color, 20% );
					color: darken( $base-purple, 100% );
				}
			}
			
			& ul.sub-menu{
				display:block;
				
				& li{
					display:block;
					width: auto;
					padding-left: 0;
					
					& a{
						display: block;
						width: 100%;
						white-space: pre-wrap;
						&:hover{
							//color: darken( $base-color, 20% );
						}
					}
				}
			}
		}
	}
}