//
// CSS for the specific theme footer
//
#footer{
	
	& .foot-left{
		@include float-left;
	}
	& .foot-right{
		@include float-right;
	}
	& a{
		color: $base-color;
		
		&:hover{
			color: $guru-color;
		}
	}
	
	& .inner{
		@include padding-leader();
		@include padding-trailer();
		padding-left: 2em;
		padding-right: 2em;
	}
}
