//
// CSS for the specific theme header
//

$header-width: 221px;

#header{
	
	//@include inline-block;
	//vertical-align: middle;
		
	width: $header-width;
	background: #fff;
	@include padding-leader(1.5);
	
	@include base-shadow();
	
	@include pie;
	//position: relative;

	& a#logo, & #sublogo{
		text-indent: -9999em;
		@include main-sprite;
	}
	
	& a#logo{
		@include single-transition( opacity, $base-transition-time, ease-in-out );
		display: block;
		height: 123px;
		width: 198px;
		margin-left: auto;
		margin-right: auto;
		background-position: -162px -1px;
		@include margin-trailer( 1 );
		
		&:hover{
			@include opacity($base-hover-opacity);
		}
	}
	
	& h3{
		@include adjust-font-size-to(22px);
		font-weight: bold;
		color: $base-black;
	}
	
	& #bannerWhen{
		padding-left: 0.65em;
		padding-right: 0.65em;
		@include margin-leader(-0.75);
		@include margin-trailer(0.25);
		text-align: center;
		@include adjust-font-size-to(18px);
	}
	
	& #header-nav{
		
		& li{
	
			@include padding-trailer(0.5);

			
			$flag-width: 21px;
			$flag-height: 12px;
			$li-padding: 12px;
	
			& a{
				color: $base-white;
				display: block;
				position: relative;
				width: $header-width + $flag-width;
								
				& strong{
					display: block;
					//width: 100%;
					padding-left: 1em;
					padding-right: 1em;
					
					position: relative;
					//@include pie;
					z-index: 2;
					
					@include adjust-font-size-to( 18px, 1.5 );
					@include padding-leader( 0.5 );
					@include padding-trailer( 0.5 );
					
					font-weight: 700;
					
					@include text-shadow( darken( $base-white, 60% ) 1px 1px 1px );
					@include box-shadow( darken( $base-grey, 100% ) -21px 0 36px -21px );
				}
				
				& .icon{
					height: $flag-height;
					width: $flag-width;
					display: block;
					position: absolute;
					right: 0;
					bottom: -$flag-height;
					z-index: 1;
					
					@include main-sprite;
					background-position: -50px 0;
				}
			}

			& strong{
					@include single-transition( background, $base-transition-time, ease-in-out );
			}
			
			&:hover{
				& strong{
					@include single-transition( background, $base-transition-time, ease-in-out );
				}
			}
			
			$hover-pct: 10%;
			&.purple{
				& strong{
					background: $base-purple;
				}
				
				&:hover{
					& strong{
						background: darken( $base-purple, $hover-pct );
					}
				}
			}
			&.teal{
				& strong{
					background: $base-teal;
				}
				
				&:hover{
					& strong{
						background: darken( $base-teal, $hover-pct );
					}
				}
			}
			&.orange{
				& strong{
					background: $base-orange;
				}
				
				&:hover{
					& strong{
						background: darken( $base-orange, $hover-pct );
					}
				}
			}
			&.yellow{
				& strong{
					background: $base-yellow;
				}
				
				&:hover{
					& strong{
						background: darken( $base-yellow, $hover-pct );
					}
				}
			}
			&.red{
				& strong{
					background: $base-red;
				}
				
				&:hover{
					& strong{
						background: darken( $base-red, $hover-pct );
					}
				}
			}
		}

	}
	
	
	& .times, & .newsletter{
	}
	
	& .times{
		padding-left: 1em;
		padding-right: 1em;
		@include margin-leader(0.125);
		@include padding-leader(0.25);
		@include padding-trailer(0.25);
		
		& p{
			font-weight: 400;
			color: $base-red;
			@include adjust-font-size-to(19px, 1.25);
		}
	}
	
	& .newsletter{
		@include padding-trailer();
		padding-left: 1em;
		padding-right: 1em;
		position: relative;
		z-index: 100;
		
		& label{
			color: $base-black;
			@include adjust-font-size-to(18px);
			font-weight: 400;
		}
		& input{
			width: 95%;
			padding-left: 2.5%;
			padding-right: 2.5%;
			//@include adjust-font-size-to(16px);
			font-size: 16px;
			padding-top: 3px;
			padding-bottom: 3px;
			display: block;
			//border: 1px solid $base-grey;
			//background: $base-grey;
			
			&:focus{
				outline: none;
				background: darken( $base-grey, 10% );
			}
		}
		& button{
			@include float-right;
			@include margin-leader(0.25);
		}
	}
	
	
}

.lte7{
	
	.mcError{
		bottom: -3.25em;
	}
	
	& #header{
		& #header-nav{	
			& li{
				@include padding-trailer(0.25);
				@include margin-leader(-0.75);
				
				& a{
					//@include adjust-font-size-to( 12px, 1.25 );	
				}
			}
		}		

		& .newsletter{
			
			& label{
			}
			& input{
			}
			& button{
				padding-right: 0.5em;
				padding-left: 0.5em;
				background: $base-red;
				behavior: none;
				
				&:hover{
					background: lighten( $base-red, 10% );
				}
			}
		}

	}
}

.lte8{
	& #header{
	}
}

