//
// CSS for the specific theme contact-page-template
//

$map-width: 460px;

/** Contact Us Page Template **/

#mapWrap{
	
	//background: $base-bg;
	//padding: 0.5em;
	//@include pie;
	//@include box-shadow(
	//	lighten( $base-color, 40% ) 0 0 6px 0
	//);
	//@include margin-trailer(1);
	
	& #gMap{
		height: 406px;
	}
}

article.hentry .locationList{
	margin-left: 0;
	list-style: none outside;
	@include float-right;
	
	& .locationItem{
		padding: 0 1em;
		@include padding-leader;
		@include padding-trailer;
		
		&:hover{
			background: lighten( $base-button-color, 20% );
		}
	}
	
}

article.hentry .locationItem, .mapInfoDom{
	//display: none;

	//border-bottom: 1px solid lighten($base-color, 75%);
	//@include padding-leader( 0.75 );
	//@include padding-trailer( 0.75 );
	
	@include adjust-font-size-to(14px);
	
	& p{
		margin-bottom: 0;
	}
	
	& a, & span{
		display: block;
		font-weight: 600;
		cursor: default;
		color: $base-color;
		
		&:hover{
			color: $base-color;
		}
		
		&.locationAddress{
			&:hover{
				//color: $base-button-color;
			}
		}
		&.shortname{
			display: none;
		}
		&.longname{
			font-weight: 700;
			//color: darken($base-color, 10%);
		}
		&.locationPhone{
			//font-weight: 700;
			//color: $base-button-color;
			@include adjust-font-size-to(13px);
			@include padding-leader(0.125);
			@include padding-trailer(0.125);
		}

		&.directionsLink{
			//margin-left: 65px;
			//@include float-right;
			@include margin-leader(0.75);
			display: block;
			cursor: pointer;
			cursor: hand;
			&:hover{
				color: $base-header-color;
			}
		}

	}
}

.mapInfoDom{
	padding-right: 2em;
	min-height: 160px;
}

/** End Contact Us Page Template **/