//
// CSS for the specific theme page / post styles
//


/** Default Page Template **/

article.hentry{
	
	padding-left: 2em;
	padding-right: 2em;
	@include padding-trailer();
	
	& header.parent-title{
		
		& h3, & h4{
		}
		& h3{
			
			& a{
			}
		}
		& h4{

		}
	}
	
	.entry-content{
		
		.pic{
			//display:inline;
			@include float-right;
			@include margin-leader(0.5);
			margin-left: 1em;
			margin-bottom: 0.5em;
			
			& img{
				display:block;
				@include pie;
				@include border-radius(2px);
				//padding: 3px;
				//background: $box-bg;
				@include single-box-shadow( darken( $box-bg, 50% ), 0, 8px,6px, -5px );
			}
		}

		& h1, & h2, & h3, & h4, & h5, & h6{
		}

		& h1.entry-title, h2.entry-title{

		}
		
	}
	
	
	
	& .col{
		@include inline-block;
		vertical-align: top;
		
		min-height: 1em;
		width: 33%;
		
		& .in{
			padding-left: 1em;
			padding-right: 1em;
		}
		
		& h2{
			@include adjust-font-size-to( 22px );
			letter-spacing: 1px;
			
			@include single-text-shadow( lighten($box-bg, 10%), 1px, 1px, 1px );
		}
		
		& ul{
			border-top: 1px solid $base-bg;
			border-bottom: 1px solid lighten( $base-bg, 20% );
			
			& li{
				border-top: 1px solid lighten( $base-bg, 20% );
				border-bottom: 1px solid $base-bg;
			}
		}
		
		&.first{
			& .in{
				padding-left: 0;
				padding-right: 2em;
			}
		}
		&.mid{
			& .in{
			}
		}
		&.last{
			& .in{
				padding-right: 0;
				padding-left: 1em;
			}
		}
	}
	
}



/** End Default Page Template **/


/** 404 Page Template **/
a.home-link{ display:block; @include float-right; color: $base-color; }
/** End 404 Page Template **/

