//
// CSS for the specific theme rotator
//

/** Rotator **/

@mixin description-grad{
	background: rgba(0,0,0,0.4);

	@include background(
		linear-gradient(
			left,
			rgba(0,0,0,0.4) 80%,
			rgba(0,0,0,0.0) 100%
		)
	);

	@include pie;
	-pie-background: rgba(0,0,0,0.4); 
}

$rWidth: 710px;
$rHeight: 387px;
#rotator{
	@include inline-block;
	vertical-align: middle;
	height: 387px;
	width: $rWidth;

	@include margin-leader(-1.75);
	@include margin-trailer(1.75);
	position:relative;

	
	//@include float-left;
		
	& .slides{
		display:inline-block;
		height: 387px;
		width: $rWidth;
		overflow:hidden;
		position:relative;
		//@include float-left;
		background: none;
		
		& .slide{
			display:block;
			height: 387px;
			width: $rWidth;
			//background: $box-bg;
			
			@include opacity(0);
			
			position:absolute;
			top: 0;
			left: 0;
			z-index:1;
			
			& .line, & img{
				@include inline-block;
				vertical-align: middle;
			}
			
			& .line{
				height: 100%;
				width: 1px;
				margin-left: -1px;
			}
			
			& img{
				//display:block;
				//position:absolute;
				//bottom: 0;
				//left: 0;
			}
			
			& .description{
				display: none;
				
				//@include description-grad;
				//color: lighten( $base-color, 70% );
				//display:block;
				//position:absolute;
				//bottom: 0;
				//left: 0;
				//padding: 6px 12px;
				//width: 66%;
				//@include adjust-font-size-to( 14px );
						
				//& span{
				//	//width: 50%;
				//	@include single-text-shadow( darken( $base-bg, 75% ), -1px, 1px, 1px );
				//}
				//& .title{
				//	@include float-left;
				//	@include bowlby;
				//	@include adjust-font-size-to( 32px );
				//	text-align: right;
				//	width: 46%;
				//	padding-right:2%;
				//	margin-right:2%;
				//	border-right: 6px solid lighten( $base-color, 70% );
				//}
				//& .caption{
				//	width: 48%;
				//	display: block;
				//	@include float-left;
				//	@include adjust-font-size-to( 22px, 1.5 );
				//}
			}
		}
	}

	$ctrl-border-width: 1px;
	$ctrl-margin: 4px;
	
	.controls{
		//@include inline-block;
		display: block;
		@include margin-trailer(0.75);
		margin-right: 0.75em;
		text-align: right;
				
		& div{
			//color: $base-button-color;
			//@include pie;
			//@include adjust-font-size-to(12px);
			//font-size: 12px;
			//line-height: 18px;
			//text-align: center;
	
			background: darken( $base-teal, 0% );
			border: $ctrl-border-width solid darken( $base-teal, 6% );
			//@include float-right;
			
			
			//display: block;
			
			@include inline-block;
			margin-left: $ctrl-margin;
			//@include margin-leader( 0.25 );
			
			width: 14px;
			height: 14px;
			@include border-radius( 2px );
	
			@include single-box-shadow( darken( $base-teal, 6% ), 0, 0, 5px, 2px, true);
	
			text-align: left;
			text-indent: -9999em;
			
			cursor: default;
			
			&:hover{
				border: $ctrl-border-width solid darken( $base-teal, 11% );
				background: darken($base-teal, 5%);
				@include single-box-shadow( darken( $base-teal, 11% ), 0, 0, 5px, 2px, true);
				
			}
			&.active{
				border: $ctrl-border-width solid darken($base-purple, 16%);
				background: darken($base-purple, 10%);
				@include single-box-shadow( darken( $base-purple, 16% ), 0, 0, 5px, 2px, true);
			}
		}
	}
}

.lte8 #rotator .controls span{
	height:22px !important;
}

/** End Rotator **/

